.cards{
	margin-top: 40px;
width:30%;

text-align: center;

border-right: 1px solid black;
border-top: 1px solid black;
}
.cards2{
  margin-bottom: 100px;
  margin-left: 40px;
}

	
  .list{
  	margin-top: 70px;
  	width:20%;
  	height: 400px;
 border: 1px solid black;
  	display: inline-block;
  	margin-left: 50px;

  }
  img{
    height:250px;
  }
 h3{
  text-align: center;
 }
 
  


